<div class="parent-container">
  <div class="row login-mainContainer">
    <div class="login-container col-12">
      <div class="div">
        <h1>Welcome Back!</h1>
      </div>
      <div class="main-container">
        <div class="div">
          Don't have an account yet?<a href="/signup" class="link-secondary">
            Sign up!</a
          >
        </div>
        <form [formGroup]="formGroup" (ngSubmit)="submitLogin()">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              type="text"
              name="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              formControlName="userName"
            />
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              formControlName="password"
            />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
