<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<div class="parent-container bg-light">
  <div class="side-bar container bg-dark d-none d-sm-block m-0">
    <div class="logo-container container mt-60">
      <span class="material-icons"> home </span>
    </div>
    <ul class="main-navigation container">
      <li class="">
        <a href="/home"><span class="material-icons"> home </span> Home</a>
      </li>
      <li class="">
        <a href="/products"
          ><span class="material-icons"> category </span> Products</a
        >
      </li>
      <li class="">
        <a href="login">
          <span class="material-icons"> logout </span> Log out</a
        >
      </li>
    </ul>
  </div>
  <div class="main-container row mx-10">
    <div class="col-12">
      <h1 class="tittle-text">Hello and Welcome!</h1>
    </div>
    <div class="col-12">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quaerat illo cumque eveniet in veritatis vitae inventore iusto blanditiis illum reprehenderit dignissimos alias, quisquam provident odit, eligendi voluptate molestias similique!
    Sapiente explicabo deleniti vel quaerat similique consectetur itaque laborum odio illum impedit harum culpa dolore quod quidem, nulla dignissimos in ex magni laboriosam ullam, unde repellendus! Enim quae reiciendis expedita!
    Tempora excepturi, reprehenderit accusantium ducimus natus tenetur aspernatur dolorem sint. Magni quisquam aperiam nostrum doloribus iste optio cumque veniam ex inventore facilis. Totam aperiam eius nemo, ab rem vitae! Earum.
    Iste assumenda ullam quia consequuntur aspernatur dolorum et! Similique eveniet, iure sunt ex impedit mollitia aperiam molestiae tempore sint voluptatibus deleniti, repellat sapiente? Totam eaque id possimus dolore mollitia nihil!
    Veniam nulla dolorem, assumenda et ex necessitatibus eveniet facilis possimus, error aut, consequuntur animi sequi neque adipisci autem? Illum quos soluta necessitatibus tenetur voluptas vitae ad adipisci sapiente reiciendis cupiditate!
    Architecto in, delectus quisquam cum sint facere omnis placeat officia animi atque distinctio, minima, illo aperiam culpa accusantium? Voluptatum sunt dignissimos praesentium veniam sint sequi aperiam consectetur non quis harum.
    Iste, quaerat. Tempora, autem delectus, ab ullam expedita earum ipsum recusandae doloremque quis dignissimos, amet laudantium accusantium? Laborum architecto molestiae repellendus quos quae eligendi velit, doloremque quam hic cum odit.
    Rerum, nulla dolorum. Alias at facere officia veniam id fugiat eveniet quas ipsam sint? Ullam animi inventore, qui mollitia id quam incidunt velit eos deleniti laboriosam iure neque aut non.
    Repellendus dolor dicta autem. Dignissimos deleniti voluptatem laborum illum iure optio nam ducimus ipsa quis fuga obcaecati accusantium veniam labore, sapiente cumque tenetur debitis necessitatibus quae eos odio voluptatum blanditiis!
    Illum, inventore cupiditate eligendi hic laudantium distinctio tempora quis atque, molestiae dolorem rerum libero quas at harum error vel, eum itaque exercitationem fuga excepturi voluptate expedita neque autem? Eius, voluptatum.
    </div>
  </div>
</div>
