<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<div class="parent-container bg-light">
  <div class="side-bar container bg-dark 	d-none d-lg-block m-0">
    <div class="logo-container container">
      <a href="/home"><span class="material-icons"style="width: 52;width: 52px;height: 52px;"> home </span></a>

    </div>
    <ul class="main-navigation container">
      <li class="">
        <a href="/home"><span class="material-icons"> home </span> Home</a>
      </li>
      <li class="">
        <a href="/products"
          ><span class="material-icons"> category </span> Products</a
        >
      </li>
      <li class="">
        <a href="login">
          <span class="material-icons"> logout </span> Log out</a
        >
      </li>
    </ul>

  </div>
  <div class="main-container">
    <div class="row">
      <div class="col-12">
        <h1 class="tittle-text">Hello and Welcome!</h1>
      </div>
      <div class="description-container text-center col-12">
        Hi, my name is Emilio De Leon and this is my very first project using Angular.
      </div>
    </div>

  </div>
</div>
